# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python & C++ files
*.pyc
*.out

# Application specific files
venv
node_modules
.sass-cache
.vscode
.idea

# From lazyvim
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.luarc.json
lazy-lock.json
test.sh

# IDE Helpers
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Environment variables
.env

# Powerlevel10k
.powerlevel10k
